
@model IEnumerable<MVCWebApp2.Models.Student>

@{

    ViewData["Title"] = "Index";

}

@{
    Layout = "_Layout";
}

<h1>Index</h1>

<h2>Consulta de estudiantes registrados</h2>

<div class="row">

    <div class="col-md-12">
        <a class="btn btn-lg btn-primary" asp-action="Create" >Crear Nuevo Registro</a>
    </div>

</div>

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {

        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.FirstMidName)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.EnrollmentDate)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Ver Datos</a> -
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> -
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>


        }

    </tbody>

</table>
